{% extends "helpdeskbase.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<form method="get" novalidate>
  {% csrf_token %}
  <div class="p-4">
      <div class="right_col" role="main">
        <div class="">
      
      
          <div class="clearfix"></div>
          <div class="row d-flex justify-content-center">
            <div class=" col-md-12 col-sm-10 contents ">
              <div class=" new_ticket">
                <form class="ticket-form">
      
                  <div class="form-row  ">
      
                    <div class="form-group col-md-6 col-sm-12">
                      {{ myFilter.form.start_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                      {{ myFilter.form.end_date|as_crispy_field }}
                    </div>
                  </div>
      
                  <div class="form-row">
                    <div class="form-group col-md-12 col-sm-12">
                      <button class="btn btn-sm btn-danger "> Submit </button>
                    </div>
                  </div>
      
                </form>
                <div class="col-md-12 col-sm-12">
      
                  <div class="table-responsive">
      
                    <table id="datatable" class="table " style="width:100%">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">TICKET NO.</th>
                          <th class="column-title">SUBJECT</th>
                          <th class="column-title">STATUS</th>
                          <th class="column-title">DATE </th>
                          <th class="column-title">ACTIONS</th>
      
                        </tr>
                      </thead>
      
      
                      <tbody>
                        {% for tickets in total %}
                        <tr>
                          <td class="">{{ tickets.ticketid}}</td>
                          <td class="">{{ tickets.subject }}</td>
                          <td class="">
                            {% if tickets.status.id == 1 %}
                            <span class="badge badge-pill badge-success">{{tickets.status}}</span>
                            {% else %}
                            <span class="badge badge-pill badge-danger">{{tickets.status}}</span>
                            {% endif %}
                          </td>
                          <td class="">{{ tickets.ticket_date }}</td>
                          <td class="">
                            <a href="{% url 'helpdesk:editticket' tickets.ticketid %}"
                              class="btn btn-sm btn-outline-warning">View/Edit</a>
                            <a href="{% url 'helpdesk:detail' tickets.ticketid %}"
                              class="btn btn-sm btn-outline-danger">Comment</a>
      
      
                        </tr>
                        {% endfor %}
      
      
                      </tbody>
                    </table>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
</form>

{% endblock content %}