{% load static %}

<div class="left_col scroll-view">
  <div class="navbar nav_title">
    <a href="index.html" class="site_title">
      <img style="width:40px" src="{% static " builimages/logo.png" %}" alt="">
      <span id="help_desk">HELP DESK</span>
    </a>
  </div>

  <div class="clearfix"></div>


  <br />

  <!-- sidebar menu -->
  <!-- remove the id to remove the drop down, but you have work on the active -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="index.html">Dashboard</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> New Ticket<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form.html">General Form</a></li>
            <li><a href="form_advanced.html">Advanced Components</a></li>
          </ul>
        </li>
        <hr style="background-color: white;">
        <li><a><i class="fa fa-bar-chart-o "></i> FAQ </a>
          <!-- <ul class="nav child_menu">
              <li><a href="chartjs.html">Chart JS</a></li>
            </ul> -->
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>


<!-- top navigation -->